

.resume-btn{
    background-color: var(--primary-theme-color);
    padding: 0.35rem 1.1rem;
    border-radius: 5px;
    color: white;
    border: none;
    z-index: 5;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}
.resume-btn::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent);
  transform: rotate(-45deg);
  opacity: 0.7;
  transition: all 0.5s ease;
  animation: glossy-animation 3s infinite linear;
}



@keyframes glossy-animation {
0% {
    top: -100%;
    left: -100%;
}
25% {
    top: -50%;
    left: -50%;
}
50% {
    top: 0%;
    left: 0%;
}
75% {
    top: 50%;
    left: 50%;
}
100% {
    top: 200%;
    left: 200%;
}
}
.resume-btn:hover{
    filter: saturate(350%);
}
.about-me {
    font-family: "Quicksand", sans-serif;
  // font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  z-index: 5;
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
.professional-intro {
  display: flex;
  gap: 10px;
  align-items: center;
}
.professional-intro a, a img {
  font-size: 19px;
  width: 30px;
  height: 30px;
  border-radius: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #727272;
  box-shadow: 0px 0px 4px #b6b6b6;
  transition: all .2s ease-in-out;
  text-decoration: none;
  background: white;
  z-index: 1;
}
.professional-intro a:hover, a img:hover{
  width: 36px;
  height: 36px;
  
}
.portfolio-image-container img{
  width: 100%;
  z-index: 5 !important;
  position: relative;
}
.portfolio-image-container {

  z-index: 55 !important;

}
.specific-component-wrapper {
    position: relative;
    /* Add any additional styling required */
}

.particles-container {
    position: relative;
    // background-color: #ededef
}

ng-particles{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
#typed-output {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  // border-right: 2px solid black; /* Cursor effect */
  color: var(--primary-theme-color);
}
.highlight-name{
  color: var(--secondary-text-color);
}
.dynamic-text h2{
  font-weight: 600;
}
.typed-cursor{
  color: var(--primary-theme-color);
}
.br{
  display: none;
}
.banner-text{
  z-index: 55;
}

@media (max-width: 576px) {
  .portfolio-image-container img{
    width: 100%;
  }
  .about-me{
    text-align: center;
    margin-top:30px
  }

  .banner-heighlights{
    justify-content: center;
    flex-direction: column;
  }

 
    .portfolio-image-container {
      order: 1;
    }
    .align-content-around {
      order: 2;
    }
    .portfolio-image-container img{
      width: 100%;
    }
  
    .dynamic-text h2,span{
      font-size: 18px !important;
      text-align: center;
      min-height: 56px;
    }
    .br{
      display: block;
    }

}





  
  

