

.resume-btn{
    background-color: var(--primary-theme-color);
    padding: 6px 18px;
    border-radius: 5px;
    color: white;
    border: none;
}
.resume-btn:hover{
    filter: saturate(200%);
}
.about-me {
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
.professional-intro {
  display: flex;
  gap: 10px;
  align-items: center;
}
.professional-intro a, a img {
  font-size: 19px;
  width: 30px;
  height: 30px;
  border-radius: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #727272;
  box-shadow: 0px 0px 4px #b6b6b6;
  transition: all .2s ease-in-out;
  text-decoration: none;
}
.professional-intro a:hover, a img:hover{
  width: 36px;
  height: 36px;
  
}
.portfolio-image-container img{
  width: 75%;
}
@media (max-width: 576px) {
  .portfolio-image-container img{
    width: 100%;
  }
  .about-me{
    text-align: center;
    margin-top:30px
  }

  .banner-heighlights{
    justify-content: center;
    flex-direction: column;
  }

 
    .portfolio-image-container {
      order: 1;
    }
    .align-content-around {
      order: 2;
    }
    .portfolio-image-container img{
      width: 100%;
    }
  


}





  
  

