
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-content-around">
        <div>
          <p class="about-me">
            I am a problem solver and experienced Software Engineer with a
            demonstrated history of working in the computer software industry. I
            always had a great curiosity for learning and discovering new things. I
            regularly work to improve my knowledge and the betterment of my
            community. I am skilled in C#, .NET, Typescript, Angular, and Teamwork.
            I am concerned about building a reusable, scalable software product.
          </p>
          <div>
            <button class="resume-btn" (click)="downloadPdf()">
              <i class="far fa-file-pdf"></i>
              Resume
            </button>
     
          </div>
        </div>
      </div>
      <div class="col-md-6 text-end">
        <img
          src="../../../../../assets/images/Image_Hasan_Shahariar.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
