

.resume-btn{
    background-color: var(--primary-theme-color);
    padding: 6px 18px;
    border-radius: 5px;
    color: white;
    border: none;
}
.resume-btn:hover{
    filter: saturate(200%);
}
.about-me {
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
  

