

<div >
  <div class="" id="nav">
    <app-nav (navigateToSection)="scrollToSection($event)"></app-nav>
    <!-- <app-nav (navigateToSection)="scrollToSection($event)"></app-nav> -->

  </div>
  <div class="section-bg pt-5">
    <app-banner></app-banner>
  </div>
  <div id="skills">
    <app-skills></app-skills>
  </div>
  <div  id="experiance">
    <app-experiance></app-experiance>
  </div>
  <div  id="projects">
    <app-projects></app-projects>
  </div>
  <div class="mt-5" id="contact">
    <app-contact></app-contact>
  </div>
</div>
