<div class="" id="nav">
  <app-nav (navigateToSection)="scrollToSection($event)"></app-nav>
</div>
<div class="py-5 section-bg">
  <app-banner></app-banner>
</div>
<div class="my-4" id="skills">
  <app-skills></app-skills>
</div>
<div class="my-4" id="experiance">
  <app-experiance></app-experiance>
</div>
<div class="my-4" id="projects">
  <app-projects></app-projects>
</div>
<!-- <div class="theme-switcher">
    <button (click)="switchTheme('light')">Light Theme</button>
    <button (click)="switchTheme('dark')">Dark Theme</button>
  </div> -->