body{
    font-family: "Poppins",sans-serif;
    margin: 0;
}
.flex-container{
    display: flex;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 30px; 
}
.half-width{
    width: 50%;
    padding: 0 3%;
    margin: 0 5%;
}
.half-width img{
    width: 80%;
    margin-top: 10%;
}
.hire-btn{
    display: block;
    width: 65px;
    margin-top: 5%;
    text-decoration: none;
    background-image: linear-gradient(45deg,orange,tomato);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 40px;
    border-radius: 5px;
}
.mb-2{
    padding-bottom: 150px;
}
.portfolio{
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(Image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp-area{
    background-image: url(Image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box-shade{
    box-shadow: 1px 1px 10px ;
}
.border-left-1{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(23, 23, 180),cyan);
    border-image-slice: 1;
}
.border-left-2{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(180, 86, 23),rgb(251, 255, 0));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
