<section class="contact-container">
  <div class="container say-hello">
    <span>say hello</span>
    <h2>Contact</h2>
  </div>

  <section class="ftco-section my-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="wrapper">
            <div class="row no-gutters">
              <div
                class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch"
              >
                <div class="position-relative w-100 p-md-5 p-4 ">
                  <div *ngIf="showMessage" class="message">
                    Your message was sent, thank you!
                  </div>
                  <form
                    [formGroup]="contactForm"
                    class="contactForm"
                  >
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="label" for="name">Full Name</label>
                          <input
                            type="text"
                            class="form-control"
                            name="name"
                            id="name"
                            placeholder="Name"
							formControlName="name"
							(blur)="logValidationErrors()"
							[ngClass]="{ 'is-invalid': formError.name }"
                          />
						  <span *ngIf="formError.name" class="error-text">{{ formError.name }}</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="label" for="email">Email Address</label>
                          <input
                            type="email"
                            class="form-control"
                            name="email"
                            id="email"
                            placeholder="Email"
							formControlName="email"
							(blur)="logValidationErrors()"
							[ngClass]="{ 'is-invalid': formError.email }"
                          />
						  <span *ngIf="formError.email" class="error-text">{{ formError.email }}</span>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="subject">Subject</label>
                          <input
                            type="text"
                            class="form-control"
                            name="subject"
                            id="subject"
                            placeholder="Subject"
							formControlName="subject"
							(blur)="logValidationErrors()"
							[ngClass]="{ 'is-invalid': formError.subject }"
                          />
						  <span *ngIf="formError.subject" class="error-text">{{ formError.subject }}</span>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="label" for="#">Message</label>
                          <textarea
                            name="message"
                            class="form-control"
                            id="message"
                            cols="30"
                            rows="4"
                            placeholder="Message"
							formControlName="message"
							(blur)="logValidationErrors()"
							[ngClass]="{ 'is-invalid': formError.message }"
                          ></textarea>
						  <span *ngIf="formError.message" class="error-text">{{ formError.message }}</span>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <button class="primary-btn" (click)="onSubmit()">Send Message</button>
                          <div class="submitting"></div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                <div class="info-wrap w-100 p-md-5 p-4">
                  <p class="mb-4">
                    We're open for any suggestion or just to have a chat
                  </p>
                  <div class="dbox w-100 d-flex align-items-start gap-4 mb-4">
                    <div
                      class="icon d-flex align-items-center justify-content-center"
                    >
                      <span class="fa fa-map-marker"></span>
                    </div>
                    <div class="text pl-3">
                      <p>
                        
						<span>Kazipara, Dhaka, Bangladesh</span>
                      </p>
                    </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center gap-4 mb-4">
                    <div
                      class="icon d-flex align-items-center justify-content-center"
                    >
                      <span class="fa fa-phone"></span>
                    </div>
                    <div class="text pl-3">
                      <p>
                        
                        <span>01771179790</span>
                      </p>
                    </div>
                  </div>
                  <div class="dbox w-100 d-flex align-items-center gap-4 mb-4">
                    <div
                      class="icon d-flex align-items-center justify-content-center"
                    >
                      <span class="fa fa-paper-plane"></span>
                    </div>
                    <div class="text pl-3">
                      <p>
                        
                        
						<span>showrav550@gmail.com</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
