<section class="contact-container">
  <div class="section-wrapper container">
    <div class="contact-text">
      <p>gfdsgfdsgf</p>
      <p>gfdsgfdsgf</p>
      <p>gfdsgfdsgf</p>
    </div>
    <div class="contact-form">
      <form [formGroup]="contactForm" class="d-flex flex-column gap-3">
        <input type="text" placeholder="Name" formControlName="name" class="form-control"/>
        <input type="text" placeholder="Email" formControlName="email" class="form-control"/>
        <textarea row="20" placeholder="Message" formControlName="message" class="form-control"></textarea>
        <button class="primary-btn">Send</button>
      </form>
    </div>
  </div>
</section>
