.wrapper{
    box-shadow: 9px 9px 21px -5px;
    border-radius: 7px;
    overflow: hidden;
}
.info-wrap{
    background-color: var(--primary-theme-color);
    color: white
}
.dbox {
    gap: 6%;
    margin-bottom: 1rem;
}
.dbox .icon{
    min-width: 3rem;
    max-width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
}
.info-wrap .dbox .text p{
    word-break: break-all;
}
p{
    margin: 0;
}

.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background: transparent !important;
    border-radius: 0px;
    font-size: 15px;
}
.form-control:focus {
    border-color: var(--primary-theme-color) !important;
    box-shadow:none
}
.contactForm .label {
    color: #363636;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 1rem;
}
.form-group {
    margin-bottom: 1rem;
}
.error-text{
    font-size: 12px;
    color: rgb(255, 53, 53);
}
.message {
    display: inline-block;
    padding: 10px 0;
    // background-color: #4caf50; /* Green background */
    color: var(--primary-theme-color); /* White text */
    border-radius: 5px;
    margin-bottom: 10px;
    position: absolute;
    top: 1px;
    animation: fadeOut 1s 4s forwards; /* Optional fade-out animation */
  }

.contact-container{
    overflow: hidden;
}
  
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  @media only screen and (max-width: 767px) {
    .message {  
        position: static;
      }

  }

  


  


