<section class="contact-container">
  <div class="container say-hello">
    <span>say hello</span>
    <h2>Contact</h2>
  </div>
  
  <div class="section-wrapper container">
    <div class="contact-form">
      <form [formGroup]="contactForm" class="d-flex flex-column gap-3">
        <input type="text" placeholder="Name" formControlName="name" class="form-control" />
        <input type="text" placeholder="Email" formControlName="email" class="form-control" />
        <quill-editor formControlName="message" [style]="editorStyle" [modules]="config"></quill-editor>
        <button class="primary-btn">Send</button>
      </form>
    </div>
    <div class="contact-text">
      <span></span>
    </div>
  </div>
</section>
