<section class="container">
  <h1 class="text-center mb-4">Experiance</h1>
  <ul class="timeline timeline-split">
    <li class="timeline-item">
      <div class="timeline-info"><span>Oct 2021 - Sep 2023</span></div>
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <h5 class="timeline-title mb-md-3">
          Junior Software Engineer @ <span>Enlight Solutions Bangladesh</span>
          
        </h5>
        <ul data-aos="fade-left">
          <li>Requirement Analysis</li>
          <li>Design Applications (Mockup, Modeling, Interaction flow)</li>
          <li>
            Writing well-designed, testable, and efficient code using .NET and
            Angular
          </li>
          <li>Deploy the Application in Windows and Linux server</li>
          <li>Practicing SCRUM</li>
          <li>
            Maintain necessary documentation like Client task sub-task wise
            status, issue board (GitLab), Asana board, Sprint Plan, Release log,
            etc.
          </li>
          <li>Supervise interns</li>
        </ul>
      </div>
    </li>
    <li class="timeline-item">
      <div class="timeline-info"><span>Oct 2023 - Present</span></div>
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <h5 class="timeline-title mb-md-3">
          Software Engineer @ <span>Mediasoft Data Systems Limited</span>
        </h5>
        <ul data-aos="fade-left">
          <li>Requirement Analysis</li>
          <li>Design Applications (Mockup, Modeling, Interaction flow)</li>
          <li>
            Writing well-designed, testable, and efficient code using .NET and
            Angular
          </li>
          <li>Deploy the Application in Windows and Linux server (AWS)</li>
          <li>Practicing SCRUM</li>
          <li>Communicate with clients and provide necessary support</li>
        </ul>
      </div>
    </li>
  </ul>
</section>
