@import "../../../../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap");

a.nav-link {
  font-weight: 500;
  color: var(--primary-text-color) !important;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 2px solid transparent;

  padding: 8px 0;
  transition: padding 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}
a.nav-link:hover {
  color: var(--primary-text-color) !important;
  font-size: 17px;
}
a.nav-link.active {
  border-bottom: 2px solid var(--primary-theme-color);
  color: var(--primary-text-color) !important;
  font-size: 17px;
}

.navbar-brand {
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--primary-theme-color);
}
.theme i {
  background: linear-gradient(to bottom, #ff5f5f, #7d7bfe, #d001d0);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Ensure the text color is transparent */
  display: inline-block; /* Ensure the element is treated as an inline block */
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

/* Initial transparent state */
.sticky-nav.transparent {
  background-color: transparent;
}

/* Background color when scrolled */
.sticky-nav {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Light color with some transparency */
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: border for better visibility */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: shadow for better separation */
}

.sticky-nav.scrolled a.nav-link {
  padding: 15px 8px;
}
.context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 1000;
  cursor: pointer;
}

.context-menu div {
  padding: 5px;
  user-select: none;
}

.theme-container {
  position: absolute;
  right: 42px;
}

.theme-icon {
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.theme-card {
  position: absolute;
  top: 27px;
  right: 0;
  width: max-content;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.theme-item {
  padding: 5px 10px;
}
.theme-item.active {
  background-color: #c3c8cd;
}
.theme-item {
  cursor: pointer;
}

@media (max-width: 576px) {
  .theme-container {
    position: static;
    width: 21px;
  }
  .navbar-brand {
    margin: 0;
  }
}
