/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&family=Quicksand:wght@300..700&display=swap");
// $app-primary-color: #7780ff;
// $app-secondary-color: #ffd20c;
// $app-success-color: #03a012;


:root {
  --primary-theme-color: #7780ff;
  --primary-text-color: #000000;
  --secondary-text-color: #f1a803;
  --background-color: #fdfdfd;
}

[data-theme="dark"] {
  --primary-theme-color: #7780ff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #f1a803;
  --background-color: #030713;
}
[data-theme="red"] {
  --primary-theme-color: #FF204E;
  --primary-text-color: #000000;
  --secondary-text-color: #00becc;
  --background-color: #ffffff;
}
[data-theme="orange"] {
  --primary-theme-color: #F0A500;
  --primary-text-color: #000000;
  --secondary-text-color: #00becc;
  --background-color: #ffffff;
}
[data-theme="mint"] {
  --primary-theme-color: #77E4C8;
  --primary-text-color: #000000;
  --secondary-text-color: #00becc;
  --background-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a.nav-link.active {
  border-bottom: 2px solid var(--primary-color);
}

/* styles.css */

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(196, 196, 196);
  border-radius: 25px;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary-theme-color) !important;
  border-radius: 25px;
}

.primary-btn {
  background-color: var(--primary-theme-color);
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 14px;
}
.primary-btn:hover{
  filter: saturate(400%);
}

html, body {
  // height: 100vh;
  // overflow: scroll;
}

[data-scroll-container] {
  // overflow: hidden;
}

[data-scroll-section] {
  position: relative;
}
.c-scrollbar{
  background-color: rgb(196, 196, 196) !important;
 
}
.c-scrollbar_thumb{
  background-color: var(--primary-theme-color) !important;
  right: -2px !important;
  opacity: 1 !important;
  width: 100% !important;
}
.c-scrollbar:hover {
  transform: none !important;
}

.disable-scroll {
  pointer-events: none;
}

.say-hello {
  padding-top: 53px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.say-hello span {
  padding-bottom: 8px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  padding: 0 80px;
  letter-spacing: 1px;
}
.say-hello span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 50px;
  height: 1px;
  background: #333;
}
.say-hello span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 4px;
  width: 50px;
  height: 1px;
  background: #333;
}




