<!-- <div class="card-container" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()"> -->
<!-- <div class="card-container">
  <div
    class="card"
    [ngStyle]="{ 'background-image': 'url(' + card.imageUrl + ')' }"
  >
    <div class="card-overlay">
      <h3>{{ card.title }}</h3>
      <div class="build-with">
        <span>Built With: </span>
        <span>Angular ,EmailJS, Locomotive Scroll, Particles</span>
      </div>
      <div class="project-btn-container">
        <button class="primary-btn" (click)="openUrl(portfolioViewUrl)">
          View
        </button>
        <button class="primary-btn" (click)="openUrl(portfolioGitUrl)">
          <i class="fab fa-github"></i> Github
        </button>
      </div>
    </div>
  </div>
</div> -->

<div class="card-container" data-aos="fade-up">
  <div >
    <img src="../../../../../assets/images/projects/project-portfolio-2.jpg" alt="">
  </div>
  <div class="align-content-around" >
    <div class="card-overlay">
      <h3 class="m-0">{{ card.title }}</h3>
      <p class="m-0">
        I have designed and developed this portfolio website to effectively showcase my skills, expertise, and professional interests, providing a comprehensive overview of my capabilities and achievements. 
      </p>
      <div class="build-with">
        <span>Angular</span>
        <span>EmailJS</span>
        <span>Locomotive Scroll</span>
        <span>Particle Js</span>
        <span>AOS</span>
      </div>
      <div class="project-btn-container">
        <button class="primary-btn" (click)="openUrl(portfolioViewUrl)">
          View
        </button>
        <button class="primary-btn" (click)="openUrl(portfolioGitUrl)">
          <i class="fab fa-github"></i> Github
        </button>
      </div>
    </div>
  
  </div>
</div>


